@import "~vuetify/src/styles/settings/variables";

// Vuetify Overrides
$body-font-family: 'Montserrat', sans-serif;
$alternate-font-family: 'Oswald', 'Montserrat', sans-serif;

$headings: (
  'h6': (
    'font-family': $body-font-family,
  ),
  'button': (
    'font-family': $alternate-font-family,
  ),
);

$alert-border-width: 6px;
