@import "~vuetify/src/styles/settings/variables";

// Vuetify Overrides
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Open+Sans:wght@400;500;600;700&display=swap');
$body-font-family: 'Open Sans', sans-serif;
$alternate-font-family: 'Merriweather', serif;

$headings: (
  'h5': (
    'font-family': $alternate-font-family,
  ),
  'h6': (
    'font-family': $alternate-font-family,
  ),
);

$alert-border-width: 6px;
$grid-gutter: $spacer * 3;
